{namespace example.soy}

/**
 * Template with misspellings in the doc-comment.
 * <TYPO descr="Typo: In word 'documention'">documention</TYPO>
 *
 * @param? first<TYPO descr="Typo: In word 'Paramm'">Paramm</TYPO> The first
 *     parameter is <TYPO descr="Typo: In word 'optionill'">optionill</TYPO>.
 */
{template .myTemplate}
{/template}
