{template .member}
  {@param? frames: list<[
    errorText: string,
    previewSrc: string|null,
    thumbnailSrc: string|null,
    unvailableText: string,
    visible: bool|null
  ]>}
  <p class="dialogMember">{$professions}</p>
{/template}