/*
 * Copyright 2010 - 2013 Ed Venaglia
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

{namespace soy.examples.let}
/**
* Template that uses object and array literal values.
* @param currentYear
*/
{template .demoObjectLiterals}
{let $emptyArray: []/}
{let $emptyObject: [:]/}
{let $arrayOfEmptyObject: [[:],[:]]/}
{let $hasBody kind="html"}
{/let}
{call .demoExpressions}
  {param currentYear: $currentYear/}
  {param students: [
  ['name':'Bill','major':'Engineering','year':1988],
  ['name':'Matt','major':'Physics','year':2002],
  ['name':'John','major':'Biology','year':1996],
  ['name':'Arthur','major':'English','year':2006]
]/}
{/call}
{/template}
