{delpackage my.experiment}

{namespace my.namespace}

{deltemplate .foo}
    {delcall my.namespace.dummy}
        {param option: true/}
        {param text}Some text{/param}
    {/delcall}
{/deltemplate}
