{namespace example.soy}

/**
 * Template with misspellings in the body.
 */
{template .myTemplate}
  <div>
  <strong>{call .subTemplate}{/call}{sp}</strong>
  Misspelled <TYPO descr="Typo: In word 'woord'">woord</TYPO>.

  <!-- Test bug fix: "Fram" in "Frame" was incorrectly identified as typo. -->
  Frame</b>
  </div>
{/template}

/***/
{template .subTemplate}
{/template}
